@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    position: fixed;
    width: 100%;
}
.header__contenido{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: .7s;
    padding: 3rem 0;
    align-items: center;
    z-index: 1;
}

.header__Titulo{
    color: rgb(252, 252, 252);
    letter-spacing: .5rem;
    font-weight: bold;
    text-decoration: none;
    height: 8.2rem;
}
.header__efecto{
    font-size: 6rem;
}
.header__navegacion{
    justify-content: center;
    align-items: center;   
    display: none;
    right: 0;
}
@include m.tablet{
    .header__navegacion{
        display: flex;
    }
}

.header__navegacion ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li {
    list-style: none;
}
li a{
    position: relative;
    text-decoration: none;
    margin: 0 1.5rem;
    color: #fff;
    letter-spacing: 2px;
    font-weight: lighter;
    transition: .7s;
}