@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    position: fixed;
    width: 100%;
}

.header__contenido{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: .7s;
    padding: 3rem 0;
    align-items: center;
    z-index: 1;
    
    @include m.tablet{
        justify-content: space-between;        
    }

    .header__h1{
        position: relative;
        display: flex;
        align-items: center;

        .header__Titulo{
            color: rgb(255, 255, 255);
            letter-spacing: .5rem;
            font-weight: bold;
            text-decoration: none;
    
            .header__efecto{
                font-size: 1rem;
                margin: 0;
                font-family: v.$fuente_principal;
                font-size: 3rem;
            }
        }
        span{
            display: inline-block;
            color: white;
        }
    }
    

    .header__navegacion{
        justify-content: center;
        align-items: center;   
        display: none;
        right: 0;

        @include m.tablet{
            display: flex;
        }
    }
    
}

.header__navegacion {
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        li {
            list-style: none;
            a{
                position: relative;
                text-decoration: none;
                margin: 0 1.5rem;
                color: #fff;
                letter-spacing: 2px;
                font-weight: lighter;
                transition: .7s;
                font-family: v.$fuente_principal;
                font-size: 1.6rem;

                &:hover{
                    color: red;
                    font-weight: v.$bold;
                }
            }
        }
    }
}

.scroll{
    background-color: rgba(255, 255, 255, 0.748);
    box-shadow: 0px 1px 10px 0px black;
    .header__contenido{
        padding: 2rem 0;
        @include m.tablet{
            padding: 1rem 0;
        }
    }
    .header__h1{
        .header__Titulo{
        
            .header__efecto{
                font-size: 2rem;
                color: black;
            }
        }
        span{
            color: black;
        }
    }   
    

    .header__navegacion a{
        color: black;
        text-shadow: 1px 1px 1px 1px black;
    }

}